@charset "UTF-8";
/* 🐔🥚
 ▄▄▄· ▄▄▄▄· ▄▄▄   ▄▄▄· ▐▄• ▄  ▄▄▄· .▄▄ ·
▐█ ▀█ ▐█ ▀█▪▀▄ █·▐█ ▀█  █▌█▌▪▐█ ▀█ ▐█ ▀.
▄█▀▀█ ▐█▀▀█▄▐▀▀▄ ▄█▀▀█  ·██· ▄█▀▀█ ▄▀▀▀█▄
▐█ ▪▐▌██▄▪▐█▐█•█▌▐█ ▪▐▌▪▐█·█▌▐█ ▪▐▌▐█▄▪▐█
 ▀  ▀ ·▀▀▀▀ .▀  ▀ ▀  ▀ •▀▀ ▀▀ ▀  ▀  ▀▀▀▀
• ▌ ▄ ·. ▄• ▄▌▄▄▄   ▄▄▄· ▄▄▌
·██ ▐███▪█▪██▌▀▄ █·▐█ ▀█ ██•
▐█ ▌▐▌▐█·█▌▐█▌▐▀▀▄ ▄█▀▀█ ██▪
██ ██▌▐█▌▐█▄█▌▐█•█▌▐█ ▪▐▌▐█▌▐▌
▀▀  █▪▀▀▀ ▀▀▀ .▀  ▀ ▀  ▀ .▀▀▀
    ▄▄▄· ▄▄▄  ▄▄▄▄▄
   ▐█ ▀█ ▀▄ █·•██
   ▄█▀▀█ ▐▀▀▄  ▐█.▪
   ▐█ ▪▐▌▐█•█▌ ▐█▌·
 ▀  ▀  ▀ .▀  ▀ ▀▀▀
* Abraxas Mural Art v1
* Created December 2017
* www.abraxasmural.art
* info@abraxasmural.art
*/
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Global Imports
- Fonts
- Variables
- Base Styles
- Grid
- Typography
- Links
- Buttons
- Forms
- Lists
- Tables
- Spacing
- Utilities
- Media Queries
- Section Imports
*/
/* Global Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/**
 * Retrieves a color value from the $material-colors Sass map
 * Inspired by https://github.com/nilskaspersson/Google-Material-UI-Color-Palette/
 *
 * @function
 * @param {string} color-name             - quoted, lower-case, dasherized color
 *                                          name (e.g. 'pink', 'amber')
 * @param {string} [color-variant='500']  - quoted, lowercase color variant (e.g.
 *                                          '200', 'a100')
 */
@keyframes pulse {
  0%, 100% {
    height: 90vh;
    width: 90vh;
  }
  50% {
    height: 30vh;
    width: 30vh;
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -60%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -60%) rotate(360deg);
  }
}

@keyframes circle_animation {
  0% {
    transform: scale(1);
    animation-easing: cubic-bezier(0, 1, 0, 1);
  }
  5.26% {
    transform: scale(1.32);
    animation-easing: cubic-bezier(0.265, 0, 0, 1.005);
  }
  80.70% {
    transform: scale(0.6944);
    animation-easing: cubic-bezier(0, 1, 0, 1);
  }
  89.47% {
    transform: scale(1.32);
    animation-easing: cubic-bezier(0.265, 0, 0, 1.005);
  }
  100% {
    transform: scale(1);
    animation-easing: linear;
  }
}

@keyframes letterspacing {
  0% {
    letter-spacing: -5rem;
    filter: blur(6rem);
    backdrop-filter: blur(6rem);
  }
  50% {
    filter: blur(0.5rem);
    backdrop-filter: blur(0.5rem);
  }
  100% {
    letter-spacing: 0;
    filter: blur(0);
    backdrop-filter: blur(0);
  }
}

.parallelogram {
  width: 100px;
  height: 70px;
  background: #f06292;
  background: #f06292;
  transform: skew(10deg);
}

.oval {
  width: 100px;
  height: 50px;
  border-radius: 100px / 50px;
  background: #8bc34a;
}

.circle {
  width: 100px;
  height: 100px;
  background: #03a9f4;
  border-radius: 50px;
}

.up-triangle {
  width: 0;
  height: 0;
  border-right: 60px solid transparent;
  border-bottom: 103.92px solid #03a9f4;
  border-left: 60px solid transparent;
}

.down-triangle {
  width: 0;
  height: 0;
  border-top: 103.92px solid #f9a825;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
}

.left-triangle {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-right: 103.92px solid #f06292;
  border-bottom: 60px solid transparent;
}

.right-triangle {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 103.92px solid #8bc34a;
}

.top-left-triangle {
  width: 0;
  height: 0;
  border-top: 120px solid #03a9f4;
  border-right: 120px solid transparent;
}

.top-right-triangle {
  width: 0;
  height: 0;
  border-top: 120px solid #f9a825;
  border-left: 120px solid transparent;
}

.bottom-left-triangle {
  width: 0;
  height: 0;
  border-right: 120px solid transparent;
  border-bottom: 120px solid #f06292;
}

.bottom-right-triangle {
  width: 0;
  height: 0;
  border-bottom: 120px solid #8bc34a;
  border-left: 120px solid transparent;
}

.trapezoid {
  width: 80px;
  height: 0;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #03a9f4;
  border-left: 40px solid transparent;
  box-sizing: content-box;
}

.chevron {
  position: relative;
  width: 120px;
  height: 40px;
}

.chevron:before, .chevron:after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #f9a825;
  content: '';
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 15deg);
}

.chevron:after {
  right: 0;
  transform: skew(0deg, -15deg);
}

.hexagon {
  height: 62px;
  padding: 0 30px;
  background: #f06292;
  font-size: 31px;
  display: inline-block;
  position: relative;
  line-height: 1.8;
}

.hexagon:before, .hexagon:after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  top: 0;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
  transform: rotateY(180deg);
}

.hexagon:before {
  left: 100%;
  border-right: 31px solid #f06292;
}

.hexagon:after {
  right: 100%;
  border-left: 31px solid #f06292;
}

/* Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@font-face {
  font-family: 'bajernregular';
  src: url("/assets/fonts/bajern-webfont.woff2") format("woff2"), url("/assets/fonts/bajern-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Variables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE html is set to 62.5% so that all the REM
measurements throughout are based on 10px sizing.
Basically 1.5rem = 15px :) */
*, *:after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  -ms-text-size-adjust: 62.5%;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

body {
  text-rendering: geometricPrecision;
  scroll-behavior: smooth;
  position: relative;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
  overflow-x: hidden;
}

.sec,
.section {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sec::before, .sec::after,
.section::before,
.section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.sec > .content,
.section > .content {
  width: 90vw;
  margin: 13vh 0;
  /* Larger than tablet */
  /* Larger than desktop */
}

@media (orientation: landscape) {
  .sec > .content,
  .section > .content {
    margin: 39vh 0;
  }
}

@media (min-width: 750px) {
  .sec > .content,
  .section > .content {
    width: 81vw;
  }
}

@media (min-width: 1000px) {
  .sec > .content,
  .section > .content {
    width: 72vw;
  }
}

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.flexbox {
  display: flex;
}

.flexbox > .flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-family: 'bajernregular';
  font-size: 8.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

h2 {
  font-size: 5.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
  /* Larger than phablet */
  /* Larger than tablet */
  /* Larger than desktop */
  /* Larger than Desktop HD */
}

@media (min-width: 550px) {
  h2 {
    font-size: 7.2rem;
  }
}

@media (min-width: 750px) {
  h2 {
    font-size: 9.3rem;
  }
}

@media (min-width: 1000px) {
  h2 {
    font-size: 11.1rem;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 12.3rem;
  }
}

h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

p {
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: -.1rem;
  /* Larger than phablet */
  /* Larger than tablet */
  /* Larger than desktop */
  /* Larger than Desktop HD */
}

@media (min-width: 550px) {
  p {
    font-size: 1.8rem;
  }
}

@media (min-width: 750px) {
  p {
    font-size: 2.1rem;
  }
}

@media (min-width: 1000px) {
  p {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: 2.7rem;
  }
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  text-decoration: none;
  color: #000;
  outline: none;
  pointer-events: auto;
  color: #4527a0;
}

a:hover, a:focus {
  color: #7c4dff;
}

.under-link {
  letter-spacing: 0.1em;
  font-size: 18px;
  color: #4527a0;
  position: relative;
  display: inline-block;
}

.under-link:before {
  content: '';
  position: absolute;
  bottom: 0;
  background: #7c4dff;
  height: 2px;
  left: auto;
  right: 0;
  width: 0%;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.under-link:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}

/* Buttons  (ISSUES)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border-color: #7c4dff;
}

.btn.-default {
  padding: 0 1em;
  margin: 2vh 0 0;
}

.btn.-default, .btn.-trigger::before {
  font-weight: bold;
  border: 2px solid;
  text-align: center;
  text-indent: 0;
  display: inline-block;
  line-height: 1.7;
  border-color: #4527a0;
  color: #4527a0;
}

.btn.-menu {
  position: absolute;
  top: 3vw;
  right: 3vw;
  color: #4527a0;
  pointer-events: visible;
}

.btn.-close {
  font-size: 0.75em;
  position: absolute;
  top: 3vw;
  right: 3vw;
  z-index: 100;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-wrapper > .input {
  width: 180px;
}

.form-wrapper > .input,
.form-wrapper > .select {
  border: none;
  border-bottom: 2px dashed;
  background: transparent;
  font-weight: 600;
}

.form-wrapper > .input:focus,
.form-wrapper > .select:focus {
  outline: none;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}

.list {
  --bg: #fdfdfd;
  --highlight1: #ED4264;
  --highlight2: #FFEDBC;
  --color: #1a1e24;
  list-style: none;
}

.list > .item {
  display: block;
  clear: both;
  counter-increment: list;
  padding-bottom: 3vh;
  position: relative;
}

.list > .item:before {
  content: counter(list);
  width: 5vw;
  height: 6vh;
  float: left;
  margin: 0 1.5vw 0.75vh 0;
  color: var(--bg);
  background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  shape-outside: ellipse();
  z-index: 1;
}

.list > .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5vw;
  height: 2.5vh;
  background: var(--highlight1);
  border-top-left-radius: 0.3vh;
  z-index: -1;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
table {
  border: 0.6rem solid;
  width: 100%;
}

table th, table td {
  padding: 2vh 3vw;
  text-align: left;
  border-bottom: 0.3rem solid;
  font-size: 2rem;
}

table tbody tr:last-child td {
  border: none;
}

/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button, input, textarea, select, fieldset {
  margin-bottom: 1.5vh;
}

pre, blockquote, dl, figure, table, p, ul, ol {
  margin-bottom: 2.5vh;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._txt-right {
  text-align: right;
}

[hidden], ._hidden {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.percent {
  position: relative;
  font-size: 2.3rem;
  font-weight: 600;
}

.percent:after {
  content: '%';
  font-size: 1rem;
  vertical-align: super;
}

.box {
  border: 2px solid;
  padding: 1em;
  margin: 3vh 5vw;
}

.presentation {
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
/* Section Imports
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* HEADER */
header.hero-top {
  position: relative;
  height: 100vh;
  text-align: center;
}

header.hero-top svg {
  transform: skew(-12deg, -12deg);
  width: 60vw;
  mix-blend-mode: multiply;
}

header.hero-top svg path {
  stroke-dasharray: 100;
  animation: dash 10s ease infinite;
  stroke-dashoffset: 666;
  stroke: white;
  stroke-width: 0.6em;
  stroke-linecap: square;
  fill: #00051d;
}

@keyframes dash {
  50% {
    stroke-dashoffset: 333;
    stroke: white;
    fill: #1d0000;
  }
}

header.hero-top > .logo {
  font-size: 27vw;
  line-height: 0.6;
  z-index: 1;
  color: #ffeb3b;
  mix-blend-mode: difference;
  transform: skew(-12deg, -12deg);
}

header.hero-top > .sublogo {
  font-size: 6vw;
  letter-spacing: 2vw;
  margin-left: 2vw;
  mix-blend-mode: hard-light;
  z-index: 1;
  transform: skew(-12deg, -12deg);
}

header.hero-top > .sublogo > .sigil {
  width: 6vw;
  vertical-align: middle;
  margin-right: 2vw;
  z-index: 1;
}

header.hero-top > .presentation {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%) rotate(45deg);
  background-color: #ff0;
  height: 30vh;
  width: 60vh;
}

/* WHO ARE YOU */
.who_are_you > .presentation {
  transform: scale(5) translate(-13%, 13%) rotate(-12deg);
}

.who_are_you .image {
  mix-blend-mode: difference;
}

.who_are_you .right {
  flex: 2;
  margin-left: 2rem;
  mix-blend-mode: color-burn;
  color: #00bcd4;
}

.who_are_you .title {
  font-family: 'bajernregular';
}

/* WHAT DO YOU OFFER */
.what_do_you_offer > .presentation {
  transform: scale(5) translate(-30%, 0%) rotate(0deg);
}

.what_do_you_offer img {
  mix-blend-mode: difference;
}

.what_do_you_offer .left {
  flex: 2;
  align-items: flex-start;
  margin-left: 2rem;
  mix-blend-mode: color-burn;
  color: #c2185b;
}

.what_do_you_offer h2 {
  font-family: 'bajernregular';
}

.what_do_you_offer ul {
  width: 100%;
}

.what_do_you_offer ul li {
  font-weight: 600;
}

/* WHAT HAVE YOU DONE */
.what_have_you_done > .presentation {
  transform: scale(9) translate(0%, 0%) rotate(33deg);
  mix-blend-mode: hard-light;
}

.what_have_you_done h2 {
  font-family: 'bajernregular';
}

.what_have_you_done .row {
  display: flex;
  flex-wrap: wrap;
  margin: 6vh 0vw;
}

.what_have_you_done .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 1vw;
}

@media (max-width: 800px) {
  .what_have_you_done .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .what_have_you_done .column {
    flex: 100%;
    max-width: 100%;
  }
}

.what_have_you_done .column img {
  margin-top: 1vh;
  vertical-align: middle;
  width: 100%;
  mix-blend-mode: hard-light;
}

/* HOW DO I HIRE YOU */
.how_do_i_hire_you > .presentation {
  transform: scale(10) translate(0%, 0%) rotate(60deg);
}

.how_do_i_hire_you .content {
  color: #c2185b;
  mix-blend-mode: color-burn;
}

.how_do_i_hire_you .title {
  font-family: 'bajernregular';
}

.how_do_i_hire_you form {
  font-size: 2.2rem;
  margin-top: 9vh;
}

/* WHAT ABOUT PRICING AND OTHER DETAILS */
.what_about_pricing_and_other_details > .presentation {
  transform: scale(9) translate(0%, 0%) rotate(50deg);
}

.what_about_pricing_and_other_details .content {
  mix-blend-mode: color-burn;
}

.what_about_pricing_and_other_details .title {
  font-family: 'bajernregular';
}

.what_about_pricing_and_other_details .thankstitle {
  margin-top: 3em;
  text-align: center;
}

.what_about_pricing_and_other_details strong {
  font-weight: 600;
  padding: 0 1vw;
  margin-bottom: 0.6vh;
  background: #000;
  color: #fff;
  display: inline-flex;
}

.site-footer {
  text-align: center;
}

.site-footer svg {
  width: 33px;
  display: inline-flex;
  margin: 3vw;
}

.site-footer svg path {
  stroke-width: 3;
  stroke: #3f51b5;
  animation: stroke-it 6s linear infinite;
  stroke-dasharray: 999;
  stroke-dashoffset: 333;
}

@keyframes stroke-it {
  0%, 100% {
    stroke-dashoffset: 999;
    stroke: #311b92;
    fill: #e8eaf6;
  }
  63% {
    stroke-dashoffset: 333;
    stroke: #f50057;
    fill: #ede7f6;
  }
}
/*# sourceMappingURL=style.css.map */